* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}


/* header
##################################################################################################### */
.header {
  display: flex;
  flex-direction: column;
}

.header-title {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 2.7px;
}

/* featured-works
##################################################################################################### */
.featured-works {
  padding: 129px 0 125px 0;
}
.featured-works-wrapper {
  margin-top: 122px;
}


.section-title,
.note {
  text-align: center;
}


.section-title {
  font-family: Montserrat;
  font-size: 38px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.28px;
  opacity: 0.9;
  margin-bottom: 17px;
}


.note {
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  opacity: 0.62;
  letter-spacing: 1.02px;
  margin: 0;
}


.works {
  margin-bottom: 15px;
  transition: 1s;
}
.works:hover {
 transform: scale(1.2);
  z-index: 10;
}

/* about us
##################################################################################################### */


.about {
  padding: 128px 0 166px 0;
  background-color: #f8fafa;
}
.about-wrapper {
  margin-top: 147px;
}

.layer-wrapper {
  padding-left: 20px;
}

.layer {
  position: relative;
  display: flex;
  height: 536px;
  width: 100%;
}

.layers {
  position: absolute;
  z-index: 1;
  top: 35px;
}

/* slider
##################################################################################################### */
.slides {
  z-index: 10;
  margin-left: 44px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -35px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 3px 0 3px;
}

.swiper-pagination-bullet-active {
  width: 11px;
  background-color: #71f6eb;

}
.about-wrapper-description {
  margin-top: 5px;
}

.about-title {
  opacity: 0.75;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 31px;
}
.about-description {
  opacity: 0.74;
font-family: Raleway;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.8px;
margin-bottom: 38px;
white-space: pre-line;
}
.about-subtitle {
  opacity: 0.75;
font-family: Merriweather;
font-size: 17px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
letter-spacing: 1.02px;
margin-bottom: 27px;
}